@font-face {
  font-family: "Heebo-Light";
  src: url(../assets/fonts/Heebo-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Heebo-Medium";
  src: url(../assets/fonts/Heebo-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Heebo-Bold";
  src: url(../assets/fonts/Heebo-Bold.woff2) format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Heebo-Light, Heebo-Medium, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  width: 100%;

  margin: 0 auto;
}

.layout {
  max-width: 1024px;

  margin: 0 auto;
}
.header {
  max-width: 1124px;
  margin: 0 auto;
}

.footer {
  max-width: 1024px;

  margin: 0 auto;
}

h1 {
  font-family: Heebo-Bold;
  color: var(--Dark-Color, #21243d);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.list__header {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 33px;
}

.list__header li {
  color: #000;
  font-family: Heebo-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 71px;
}

.hero__content {
  width: 500px;
}

.hero__content-button {
  all: unset;
  padding: 9px 21px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: Heebo-Medium;
  background: var(--Primary, #ff6464);
}

.recent-post {
  border-radius: 2px;
}

.recent-posts__title {
  color: var(--Dark-Color, #21243d);
  font-size: 22px;
  font-family: Heebo-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
.recent_posts__view-all-link {
  all: unset;
  color: var(--Secondry, #00a8cc);
  cursor: pointer;
  font-size: 16px;
}

.recent-posts {
  background: #edf7fa;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
.recent-posts__header-container {
  max-width: 1024px;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-posts__content-container {
  max-width: 1024px;

  margin: 0 auto;
  padding: 0 30px 0 30px;
  display: flex;
  gap: 30px;
}

.recent-post {
  padding: 24px;
  background: #fff;
}
.recent-post__title {
  font-family: Heebo-Bold;
  font-size: 26px;
}

.recent-post__text,
.recent-post__tags {
  font-family: Heebo-Light;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.featured-works {
  margin-bottom: 80px;
}

.featured-works__title {
  color: var(--Dark-Color, #21243d);

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}

.project-container {
  display: flex;
  gap: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--Gray-5, #e0e0e0);
  margin-bottom: 30px;
}

.project-container__main-part-title {
  font-family: Heebo-Bold;
  font-size: 26px;
  margin: 0;
}

.project-container__main-part-tag {
  font-family: Heebo-Light;
  color: var(--Light, #8695a4);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.project-container__main-part_flex {
  display: flex;
  gap: 26px;
  align-items: center;
  font-family: Heebo-Bold;
}

.project-container__main-part-date {
  border-radius: 16px;
  background: #142850;
  padding: 0 10px 0 10px;
  color: #fff;
}

.project-container__main-part-text {
  color: var(--Dark-Color, #21243d);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  height: 182px;
  display: grid;
  justify-content: center;
}

.footer__top-part-container {
  gap: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
